@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: matter;
  font-style: normal;
  font-display: swap;
  src: url('https://assets.paper.design/fonts/matter-variable.woff2') format('woff2');
}

body {
  font-family: matter, system-ui, sans-serif;
}

#leva__root {
  --leva-sizes-rootWidth: 300px;
  --leva-sizes-controlWidth: 140px;
}

#leva__root button {
  background-color: var(--leva-colors-elevation1);

  &:hover,
  &:active,
  &:focus {
    box-shadow: inset 0 0 0 var(--leva-borderWidths-hover) var(--leva-colors-elevation3);
  }
}

#leva__root div:has(> div > button) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#leva__root div:has(> button) {
  width: 48%;
  margin-top: 0;
}
